body {
    background: white;
    text-align: center;
    padding: 0px;
    font-family: arial, sans-serif;
    margin: 0px;
}

button.button-submit {
  font-size: 24px;
  background-color: gray;
  border: 0px;
  color: white;
}

.title-audition {
  font: 24px "verdana";
  color: gray;
}

.nav-top {
  width: 100%;
  background: white;
  border: 1px green solid;
}


.col-container {
  width:100%;
}

.col-left {
  width: 15%;
  height: inherit;
/*   background: #ffffe0; */
  float: left;
/*   border: 1px solid yellow; */
}

.col-main {
  width: 85%;
  height: inherit;
/*   background: #d1d1d1; */
  float: left;
}

.list-ads {

  height: 500px;
  margin: 5%;
  overflow-y: auto;
  overflow-x: hidden;
}

.palette {

  width: 150px;
  height: 400px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.creative {
  border: 1px solid blue;
  width: 400px;
  height: 400px;
  float: left;
  text-align: center;

  background: url('../images/HR-Logo-Without-Company-Name.png');
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: right bottom;

/*
   background: url('https://hrhq.squarespace.com/assets/images/logo@2x.png');
   background-size: 144px 40px;
*/
}

.creative-text {
  text-align: center;
  line-height: 400px;
}

.text-entry {
  padding-bottom: 20px;
}

.display {
/*   font: 16px "verdana" black; */
}

.list-ad-items {
 list-style-type: none;
 list-style: none;
 margin: 0px;
 padding: 0px;
 text-align: left;
}

.link-ad {
  text-decoration: none;
}

.link-container {
  width: 100%;
  padding: 10px 2px 5px 2px;
}

.voting {
  float: left;
  width: 200px;
}

.upVote, .noVote, .downVote {
  width: 100%;
  color: white;
  border-radius: 10px;
  margin-left: 25px;
  margin-top: 50px;
  font-size: 36px;
}

.upVote {
  background-color: green;
/*   border: 2px solid green; */
}

.noVote {
  background-color: gray;
/*   border: 2px solid black; */
}

.downVote {
  background-color: red;
/*   border: 2px solid red; */
}

.form-entry {
  font-size: 32px;
}

.text-entry {
  padding-top: 10px;
}

.view-badge {
  background-color: silver;
  color: white;
  border-radius: 50%;
  border: 1px solid silver;
  margin-left: 5px;
}

.adDisplayArea {
  width: 85%;
  float: left;
  width: auto;
  padding-left: 20%;
  padding-right: 20%;

}

.palette header {
  font-weight: bold;
  clear: both;
  padding-top: 20px;
}

.palette-small-box {
  width: 25px;
  height: 25px;
  float: left;
   list-style-type: none;
   list-style: none;
   margin: 0px;
   padding: 0px;

}
